body {
    font-size: 12px;
}

h1 {
    font-size: 18px;
}

code {
    font-size: 9px;
}

.title {
    font-size: 12px;
}

th {
    text-align: left;
    background-color: #ccc;
}

table, th, td {
    border: 1px solid #222;
    border-collapse: collapse;
    font-size: 9px;
}

th, td { 
    width: 20% !important;
}

th:last-child, td:last-child { 
    width: 80% !important;
}